%h1 Edit Wiki
.row
  .col-md-4
    %p Guidelines for wikis
    %ul
      %li Titles have to be at least 5 characters
      %li Bodys have to be big, at least 20 characters
      %li Nothing mean
  .col-md-8
    = form_for @wiki do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control', placeholder: 'Enter title'
      .form-group
        = f.label :body
        = f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Enter your wiki post'
      .form-group
        = f.submit 'Save', class: 'btn btn-success'
        

